@import "@spectrum-css/tokens/dist";

:root {
  background-color: var(--spectrum-gray-50);
  @media (prefers-color-scheme: dark) {
    --spectrum-alias-background-color-default: var(--spectrum-gray-100);
  }

  -webkit-tap-highlight-color: var(--spectrum-transparent-black-100);
}

:root * {
  --spectrum-alias-background-color-default: var(--spectrum-gray-50);
  @media (prefers-color-scheme: dark) {
    --spectrum-alias-background-color-default: var(--spectrum-gray-100);
  }
}
